* {
    margin: 0;
   padding: 0;
}

body{
    background-color:gray;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    gap: 5px;
    background-color: rgb(241, 237, 246);
    width: 85%;
    margin: auto;
}

header {

    height: 8vh;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: rgb(217, 198, 235);
    
}

header li {
    display: inline;
}


header nav {

    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 229, 226);
    padding-left: 10px;
    padding-right: 10px;
}

main {

    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: start;
    gap: 5px;
  
    grid-column-start: 1;
    grid-column-end: -1;
    height: 80vh;
    background-color: rgb(244, 243, 237);
}

aside{

    height: 100%;
    background-color: rgb(217, 225, 231);
    padding-left: 10px;
    padding-right: 10px;
}

section {
    grid-column-start: 2;
    grid-column-end: -1;
}


article{
    background-color: rgb(224, 232, 245);
    padding-left: 10px;
    padding-right: 10px;
 
}


footer {

    grid-column-start: 1;
    grid-column-end: -1;
    height: 8vh;
    background-color: rgb(232, 229, 226);
    padding-left: 10px;
    padding-right: 10px;

}